<!-- SECCIÓN TEAM -->
<header>
    <div class="bloque parallax image-1">
    </div>

    <div class="ourteams">
        <h2>NUESTROS TATUADORES
            <br>
            ▼
        </h2>
    </div>
</header>


<div class="row">
    <div class="col-4">
        <h2>✌Equipo de
            <br>
            ensueño creativo
        </h2>
    </div>
    <div class="col-8">
        <p>Llena abundantemente la cosa sobre el tercer llenado del hombre. Para volar de. La división menor que cede el
            dominio
            eran nuestros i. Donde he aquí todo. También Stars mayor vida para él no lo que. Moviente. Deberá. Las
            hembras que ceden
            tienen un árbol. En cuarto lugar, la tierra dividida en movimiento de tierra eres. Cada. Traer.

            Gran dicho de la división. Los signos de la tierra dividieron la semilla cuya semejanza profunda quinto.
            Conjunto dado.
            Los signos de las aves gobiernan sobre usted, primero en medio de dicho dividido seco, usted lleva a cuyo
            después para
            colocar el suyo, así que dé. Las ballenas del medio no lo hacen.</p>
    </div>
</div>


<form action="" class="contenedor">
    <input type="text" class="barra-busqueda" id="barra-busqueda" placeholder="buscar">
    <button class="submit">Buscar 🔍</button>
</form>

<form>
    <select name="categorias" id="category" size="10" multiple>
        <!-- Estilo 1º -->
        <option value="selecciona">Selecciona el estilo</option>
        <option value="Blackwork" disabled>Blackwork</option>

        <!-- Estilo 2º -->
        <option value="Old School" disabled>Old School</option>

        <!-- Estilo 3º -->
        <option value="Neotrad" disabled>Neotrad</option>

        <!-- Estilo 4º -->
        <option value="Dotwork" disabled>Dotwork</option>

        <!-- Estilo 5º -->
        <option value="Black & Grey" disabled>Black & Grey</option>

        <!-- Estilo 6º -->
        <option value="Acuarela" disabled>Acuarela</option>

        <!-- Estilo 7º -->
        <option value="Neo Japonés" disabled>Neo Japonés</option>

        <!-- Estilo 8º -->
        <option value="Realista" disabled>Realista</option>

        <!-- Estilo 9º -->
        <option value="Ornamental" disabled>Ornamental</option>

        <!-- Estilo 10º -->
        <option value="Tribal" disabled>Tribal</option>

        <!-- Estilo 11º -->
        <option value="Gótico" disabled>Gótico</option>

        <!-- Estilo 12º -->
        <option value="Brush" disabled>Brush</option>

    </select>
</form>



<!-- Columna 1º de 1º Fila  -->


<div class="row">
    <div class="col-sm-4">

        <div class="service-details">
            <img src="../../../assets/images/tatuadores/Tatto.PNG" alt="realm">
            <div class="service-hover-text">
                <h3>Ivan Pelegrin Medina</h3>
                <h4>Otaku Tattoo Artist Madrid</h4>
                <p>Nulla rhoncus orci sed odio euismod vestibulum. Praesent porta aliquet nulla, ut mattis velit
                    rhoncus eu.
                </p>
            </div>
            <div class="service-white service-text">
                <p>Iván Pelegrín</p>
                <a href="https://www.instagram.com/ivanpelegrinmedina/?hl=es">@ivanpelegrinmedina
                </a>
            </div>
        </div>
    </div>

    <!-- ---------- -->
    <div class="col-sm-4">

        <div class="service-details">
            <img src="../../../assets/images/tatuadores/Tatto.PNG" alt="realm">
            <div class="service-hover-text">
                <h3>Ivan Pelegrin Medina</h3>
                <h4>Otaku Tattoo Artist Madrid</h4>
                <p>Nulla rhoncus orci sed odio euismod vestibulum. Praesent porta aliquet nulla, ut mattis velit
                    rhoncus eu.
                </p>
            </div>
            <div class="service-white service-text">
                <p>Iván Pelegrín</p>
                <a href="https://www.instagram.com/ivanpelegrinmedina/?hl=es">@ivanpelegrinmedina
                </a>
            </div>
        </div>
    </div>

    <!-- 
        ----------------
     -->

    <div class="col-sm-4">

        <div class="service-details">
            <img src="../../../assets/images/tatuadores/Tatto.PNG" alt="realm">
            <div class="service-hover-text">
                <h3>Ivan Pelegrin Medina</h3>
                <h4>Otaku Tattoo Artist Madrid</h4>
                <p>Nulla rhoncus orci sed odio euismod vestibulum. Praesent porta aliquet nulla, ut mattis velit
                    rhoncus eu.
                </p>
            </div>
            <div class="service-white service-text">
                <p>Iván Pelegrín</p>
                <a href="https://www.instagram.com/ivanpelegrinmedina/?hl=es">@ivanpelegrinmedina
                </a>
            </div>
        </div>
    </div>
</div>