<!-- SECCIÓN TEAM -->
<div class="bloque parallax image-1">
</div>

<div class="ourteams">
    <div class="bloque">
        <h2>NUESTROS TATUADORES
            <br>
            ▼
        </h2>
    </div>
</div>


<div class="row">
    <div class="col-4">
        <h2>✌Equipo de
            <br>
            ensueño creativo
        </h2>
    </div>
    <div class="col-8">
        <p>Llena abundantemente la cosa sobre el tercer llenado del hombre. Para volar de. La división menor que cede el
            dominio
            eran nuestros i. Donde he aquí todo. También Stars mayor vida para él no lo que. Moviente. Deberá. Las
            hembras que ceden
            tienen un árbol. En cuarto lugar, la tierra dividida en movimiento de tierra eres. Cada. Traer.

            Gran dicho de la división. Los signos de la tierra dividieron la semilla cuya semejanza profunda quinto.
            Conjunto dado.
            Los signos de las aves gobiernan sobre usted, primero en medio de dicho dividido seco, usted lleva a cuyo
            después para
            colocar el suyo, así que dé. Las ballenas del medio no lo hacen.</p>
    </div>
</div>

<!-- Columna 1º de 1º Fila  -->


<div class="row">
    <div class="col-sm-4">

        <div class="service-details">
            <img src="../../../assets/images/tatuadores/Tatto.PNG" alt="realm">
            <div class="service-hover-text">
                <h3>Ivan Pelegrin Medina</h3>
                <h4>Otaku Tattoo Artist Madrid</h4>
                <p>Nulla rhoncus orci sed odio euismod vestibulum. Praesent porta aliquet nulla, ut mattis velit
                    rhoncus eu.
                </p>
            </div>
            <div class="service-white service-text">
                <p>Iván Pelegrín</p>
                <a href="https://www.instagram.com/ivanpelegrinmedina/?hl=es">@ivanpelegrinmedina
                </a>
            </div>
        </div>
    </div>

    <!-- ---------- -->
    <div class="col-sm-4">

        <div class="service-details">
            <img src="../../../assets/images/tatuadores/Tatto.PNG" alt="realm">
            <div class="service-hover-text">
                <h3>Ivan Pelegrin Medina</h3>
                <h4>Otaku Tattoo Artist Madrid</h4>
                <p>Nulla rhoncus orci sed odio euismod vestibulum. Praesent porta aliquet nulla, ut mattis velit
                    rhoncus eu.
                </p>
            </div>
            <div class="service-white service-text">
                <p>Iván Pelegrín</p>
                <a href="https://www.instagram.com/ivanpelegrinmedina/?hl=es">@ivanpelegrinmedina
                </a>
            </div>
        </div>
    </div>

    <!-- 
        ----------------
     -->

    <div class="col-sm-4">

        <div class="service-details">
            <img src="../../../assets/images/tatuadores/Tatto.PNG" alt="realm">
            <div class="service-hover-text">
                <h3>Ivan Pelegrin Medina</h3>
                <h4>Otaku Tattoo Artist Madrid</h4>
                <p>Nulla rhoncus orci sed odio euismod vestibulum. Praesent porta aliquet nulla, ut mattis velit
                    rhoncus eu.
                </p>
            </div>
            <div class="service-white service-text">
                <p>Iván Pelegrín</p>
                <a href="https://www.instagram.com/ivanpelegrinmedina/?hl=es">@ivanpelegrinmedina
                </a>
            </div>
        </div>
    </div>
</div>