<!-- SECCIÓN TEAM -->
<header>
    <div class="bloque parallax image-1">
    </div>

    <div class="ourteams">
        <h2>NUESTROS TATUADORES
            <br>
            ▼
        </h2>
    </div>
</header>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-sm-12 col-ml-6 col-xl-4">
            <div class="sidebar-box">
                <select class="styled-select" (change)="onChange($event)">
                    <option selected value="mostrarTodos">Mostrar Todos</option>
                    <option value="tradicional">Tradicional</option>
                    <option value="neotradicional">Neotradicional</option>
                    <option value="realismo">Realismo</option>
                    <option value="lettering">Lettering</option>
                    <option value="tribal">Tribal</option>
                    <option value="puntillismo">Puntillismo</option>
                    <option value="geometrico">Geometrico</option>
                    <option value="animacion">Animación</option>
                    <option value="japones">Japones</option>
                    <option value="bAw">B & W </option>
                    <option value="biomecanico">Biomecanico</option>
                </select>
            </div>

        </div>

        <div class="col-sm-12 col-sm-12 col-ml-6 col-xl-8">
            <form action="" class="contenedor">
                <input type="search" class="barra-busqueda" id="barra-busqueda" placeholder="buscar"
                    (keyup)="onKeyUp($event)">
            </form>
        </div>
    </div>
</div>
<div>
    <hr>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4" *ngFor="let tatuador of usuarioTatuador">
            <div class="tatuadores">
                <div class="service-details" [routerLink]="['/tatuadores', 1]">
                    <img src={{tatuador.imgPerfil}}>
                    <div class="service-hover-text">
                        <h3>{{tatuador.nombre}}</h3>
                        <h4>{{tatuador.ciudad}}</h4>
                        <h4>{{tatuador.sobreMi}}
                        </h4>
                    </div>
                    <div class="service-white service-text">
                        <div>{{tatuador.nombre}}</div>
                        <div>{{tatuador.estilos}}</div>
                        <div>{{tatuador.email}}</div>
                        <div>{{tatuador.cp}} - {{tatuador.ciudad}}</div>
                    </div>
                </div>
            </div>

        </div>



        <!-- ---------- -->
        <!-- <div class="col-sm-4">

            <div class="service-details" [routerLink]="['/tatuadores', 1]">
                <img src="../../../assets/images/tatuadores/Tatto.PNG" alt="realm">
                <div class="service-hover-text">
                    <h3>Ivan Pelegrin Medina</h3>
                    <h4>Otaku Tattoo Artist Madrid</h4>
                    <p>Nulla rhoncus orci sed odio euismod vestibulum. Praesent porta aliquet nulla, ut mattis velit
                        rhoncus eu.
                    </p>
                </div>
                <div class="service-white service-text">
                    <p>Iván Pelegrín</p>
                    <a href="https://www.instagram.com/ivanpelegrinmedina/?hl=es">@ivanpelegrinmedina
                    </a>
                </div>
            </div>
        </div> -->

        <!-- 
        ----------------
     -->

        <!-- <div class="col-sm-4">

            <div class="service-details" [routerLink]="['/tatuadores', 1]">
                <img src="../../../assets/images/tatuadores/Tatto.PNG" alt="realm">
                <div class="service-hover-text">
                    <h3>Ivan Pelegrin Medina</h3>
                    <h4>Otaku Tattoo Artist Madrid</h4>
                    <p>Nulla rhoncus orci sed odio euismod vestibulum. Praesent porta aliquet nulla, ut mattis velit
                        rhoncus eu.
                    </p>
                </div>
                <div class="service-white service-text">
                    <p>Iván Pelegrín</p>
                    <a href="https://www.instagram.com/ivanpelegrinmedina/?hl=es">@ivanpelegrinmedina
                    </a>
                </div>
            </div>
        </div>
    </div>
</div> -->

        <!-- <h2>{{paginaActual}} / {{numPaginas}}</h2>

        <div>
            <button class="btn-anterior" (click)="onClick2(false)" [disabled]="paginaActual === 1">Anterior</button>
            <button class="btn-siguiente" (click)="onClick2(true)"
                [disabled]="paginaActual === numPaginas">Siguiente</button>
        </div> -->