<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <sidebar></sidebar>
        </div>
        <div class="col-8">
            <div class="multiInput" style="max-width:50em;">
                <label for="formFileMultiple" class="form-label">Sube tus trabajos a tu portfolio</label>
                <input class="form-control" type="file" id="formFileMultiple" multiple>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <img class="tattoo1" src="../../../assets/images/Logos_Mesa_de_trabajo_1.png">
                    </div>
                    <div class="col">
                        <button type="submit">Eliminar</button>
                    </div>
                    <div class="col">
                        <img class="tattoo4" src="../../../assets/images/Logos_Mesa_de_trabajo_1.png">
                    </div>
                    <div class="col">
                        <button type="submit">Eliminar</button>
                    </div>
                    <div class="col">
                        <img class="tattoo6" src="../../../assets/images/Logos_Mesa_de_trabajo_1.png">
                    </div>
                    <div class="col">
                        <button type="submit">Eliminar</button>
                    </div>
                    <div class="col">
                        <img class="tattoo6" src="../../../assets/images/Logos_Mesa_de_trabajo_1.png">
                    </div>
                    <div class="col">
                        <button type="submit">Eliminar</button>
                    </div>
                    <div class="col">
                        <img class="tattoo6" src="../../../assets/images/Logos_Mesa_de_trabajo_1.png">
                    </div>
                    <div class="col">
                        <button type="submit">Eliminar</button>
                    </div>
                    <div class="col">
                        <img class="tattoo6" src="../../../assets/images/Logos_Mesa_de_trabajo_1.png">
                    </div>
                    <div class="col">
                        <button type="submit">Eliminar</button>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>