.row .col img{
    width: 90px; 
} 

.col-8{
    padding-top: 8em;
   
}

.col-8 input{
    margin-bottom: 0.5em;
}

h6{
    font-family: 'Karla', sans-serif;
}

.col:last-child{
    margin-bottom: 7em;
}
button.delete{
    margin-top: 1em;
    font-family: 'Karla', sans-serif;
    background-color: #145A8D;
    color: #fff;
    border-radius: 20px;
    padding: 5px 10px;
}

button:hover.delete, button:hover.upload{
    background-color: #4682b4;
}
button.upload{
    font-family: 'Karla', sans-serif;
    background-color: #145A8D;
    color: #fff;
    border-radius: 20px;
    padding: 5px 10px;
    margin-bottom: 1em;
}





@media(min-width:768px){
    .row .col img{
        width: 170px;
    }
    .col:last-child{
    margin-bottom: 10em;
    }
}






@media(min-width:962px){
    .row .col img{
        width: 250px;
    }

   

}

@media(min-width:1200px){
    .row .col img{
        width: 280px;
    }



}


