<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <sidebar></sidebar>
        </div>
        <form class="col-8" [formGroup]="formulario" (submit)="onSubmit()">
            <div>
                <label class="form-label">Sube tus trabajos a tu portfolio</label>
                <input type="file" class="form-control" name="imagen" (change)="onChange($event)">
            </div>
            <div class="col-4">
                <button type="submit" class="upload">Subir</button>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div *ngFor="let url of picsUrls" class="col">
                        <img class="tattoo1" [src]="url">
                        <div class="col">
                            <button type="submit" class="delete">Eliminar</button>
                        </div>
                    </div>
                </div>

            </div>

        </form>
    </div>
</div>