<!-- Números 404 Not Found -->

<div class="container">

    <section>
        <div>
            <article class="tipografia">
                <p class="uhoh">¡UH oh! Parece que te perdiste.</p>
                <br>
                <br>
                <br>
                <p class="vuelve">Vuelve a la página de Inicio para seguir inspirándote.</p>
            </article>
        </div>

    </section>

    <section class="error-container">
        <span><span>4</span></span>
        <span>0</span>
        <span><span>4</span></span>
    </section>

    <div class="botonAll" href="http://localhost:4200/home">
        <button class="button">Home</button>
    </div>

</div>