.container{
    padding-top: 8em;
    background-image: url('../../../assets/images/Say_Tattoo!_VERTICAL-50_Opacidad-04.png');
    background-position: center;
    background-size: 100%;
    background-repeat: repeat;
}

h4{
    font-weight: 700;
}

