<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <sidebar></sidebar>
        </div>

        <div class="col-8">
            <div infinite-scroll [infiniteScrollDistance]="distance" [infiniteScrollThrottle]="throttle"
                (scrolled)="onScroll()">
                <h4>Favoritos</h4>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <img src="../../../assets/images/favicon.ico" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Antonio Lopez</h5>
                                    <p class="card-text"><span>Madrid.</span> Realismo, lettering, japonés.</p>
                                    <a href="#">Ver más</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <img src="../../../assets/images/favicon.ico" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Antonio Lopez</h5>
                                    <p class="card-text"><span>Madrid.</span> Realismo, lettering, japonés.</p>
                                    <a href="#">Ver más</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class class="row">
                        <div class="col">
                            <div class="card">
                                <img src="../../../assets/images/favicon.ico" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Antonio Lopez</h5>
                                    <p class="card-text"><span>Madrid.</span> Realismo, lettering, japonés.</p>
                                    <a href="#">Ver más</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <img src=".../../../assets/images/favicon.ico" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Antonio Lopez</h5>
                                    <p class class="card-text"><span>Madrid.</span> Realismo, lettering, japonés.
                                    </p>
                                    <a href="#">Ver más</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <img src=".../../../assets/images/favicon.ico" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Antonio Lopez</h5>
                                    <p class="card-text"><span>Madrid.</span> Realismo, lettering, japonés.</p>
                                    <a href="#">Ver más</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <img src=".../../../assets/images/favicon.ico" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Antonio Lopez</h5>
                                    <p class="card-text"><span>Madrid.</span> Realismo, lettering, japonés.</p>
                                    <a href="#">Ver más</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>