/* 
*Añadir la tipogrfía del Logotipo - Iconic-Stencil-Bold-trial.
*/

@font-face {
  font-family: 'Iconic-Stencil-Bold-trial';
  src: url('../../../assets/Iconic/Iconic-Stencil-Bold-trial.ttf') format('truetype')
}
body {
  font-size: 60px;
}

/* 
*Hoja de style del Slider.
*Lo he tenido que dejar a la medida de 79vh, porque de está manera se ve el footer.
*/

.home {
  position: relative;
}

.home .content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}

.home .carousel-item {
min-height: 79vh;
background-position: center;
background-size: cover;
position: relative;
z-index: 1;
}

.home .carousel-item::before {
content: ' ';
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
background-color: rgb(0,0, 0, 0.5);
z-index: -1;
}

/* 
* Esto es para el h2 y p de Say Tattoo!  + Descubriendo trabajos & tatuadores.
 */
.home .carousel-item .container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.home .carousel-item h2{
  font-size: 150px;
  color: #145A8D;
  margin: 0 0 10px;
  opacity: 0;
  font-family: 'Iconic-Stencil-Bold-trial', sans-serif;

}

.home .carousel-item p{
  font-size:30px;
  margin: 0;
  color: #F192AD;
  opacity: 0;
  font-family: 'Karla', sans-serif;
  
}

.home .carousel-item.active h2{
  animation: fadeInLeft 0.5s ease forwards;
}

.home .carousel-item.active p{
  animation: fadeInRight 0.5s ease forwards;
}

@keyframes fadeInLeft {
  0%{
    opacity: 0;
    transform: translateX(-30px);
  }
  100%{
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fadeInRight {
  0%{
    opacity: 0;
    transform: translateX(30px);
  }
  100%{
    opacity: 1;
    transform: translateX(0px);
  }
}

/* 
*Para hacer los styles de los botones de las flechas.
*/

.home .carousel-controls{
  position: absolute;
  left: 50%;
  bottom: 40px;
  z-index: 10;
  transform: translateX(-50%);

}

.home .carousel-indicators{
  position: relative;
  margin: 0;
}

.home .carousel-indicators li {
  height: 70px;
  width: 70px;
  margin: 0 5px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  border: 3px solid transparent;
  transition: all 0.3s ease;
}

.home .carousel-indicators li.active{
  border-color: #F192AD;
  transform: scale(1.2);
}

.home .carousel-control-next, 
.home .carousel-control-prev {
  height: 120px;
  width: 120px;
  opacity: 1;
  z-index: 3;
  top: 50%;
  transform: translateY(-50%);
}


/*
*Botones de LOGIN & REGÍSTRATE
*/

.content {
  
  display: inline-block;
  grid-template-columns: repeat (3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(200px, auto);
}

.login{
z-index:99;
border-radius: 5px;
background-color: #145A8D;
color: #F2EFE8;
grid-column: 1;
grid-row: 1;
position: relative;
width: 120px;
left: 380px;
top: 520px;

}

.login:hover {
  background-color: #F192AD;
  color: #145A8D;
}

.registrate {
 
  z-index:99;
  border-radius: 5px;
  background-color: #145A8D;
  color: #F2EFE8;
  grid-column: 1;
  grid-row: 3;
  position: relative;
  width: 120px;
  top: 520px;
  right: -780px;
}

.registrate:hover {
  background-color: #F192AD;
  color: #145A8D;
}


/* 
*RESPONSIVE - 7678px
 */
@media (orientation: landscape) {
  /* Esto para bloquear la orientación -  sólo se puede ver en Vertical */
}

@media(max-width:768px){
}
  


