<!-- Añadir la hoja de estilo de Boostrap 5 de JS -->

<section class="home">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">

        <div class="carousel-controls">

            <ol class="carousel-indicators">

                <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true"
                    aria-label="Slide 1" style="background-image: url('../../../assets/images/Slider_B_N_0.jpg')"></li>

                <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"
                    style="background-image: url('../../../assets/images/Slider_B_N_1.jpg')"></li>

                <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"
                    style="background-image: url('../../../assets/images/Slider_B_N_2.jpg')"></li>
            </ol>

            <!-- Botones de las líneas por defecto -->

        </div>

        <div class="carousel-inner">

            <div class="carousel-item active" style="background-image: url('../../../assets/images/Slider_B_N_0.jpg')">
                <div class="container">
                    <h2>SAY TATTOO!</h2>
                    <P>Descubriendo trabajos & tatuadores.</P>
                </div>
            </div>

            <div class="carousel-item" style="background-image: url('../../../assets/images/Slider_B_N_1.jpg')">
                <div class="container">
                    <h2>SAY TATTOO!</h2>
                    <P>Descubriendo trabajos & tatuadores.</P>
                </div>
            </div>

            <div class="carousel-item" style="background-image: url('../../../assets/images/Slider_B_N_2.jpg')">
                <div class="container">
                    <h2>SAY TATTOO!</h2>
                    <P>Descubriendo trabajos & tatuadores.</P>
                </div>
            </div>

        </div>


        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- BOTONES DE REGÍSTRATE & LOGIN -->

    <div class="content">
        <button class="Login">HOLA</button>
        <!-- <a class="Login" href="#carousel" role="button" data-slide="login"> </a> -->

        <!-- <a class="registrate" href="#carousel" role="button" data-slide="registrate"> </a> -->
        <button class="registrate">Adios</button>

    </div>

</section>