/* 
*Añadir la tipogrfía del Logotipo - Iconic-Stencil-Bold-trial.
*/

@font-face {
  font-family: 'Iconic-Stencil-Bold-trial';
  src: url('../../../assets/Iconic/Iconic-Stencil-Bold-trial.ttf') format('truetype')
}
body {
  font-size: 60px;
}

/* 
*Hoja de style del Slider.
*Lo he tenido que dejar a la medida de 79vh, porque de está manera se ve el footer.
*/

.home {
  position: relative;
}

.home .content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}


