<div class="container-fluid ">
    <div class="row">
        <div class="col-4" tyle="max-width: 50rem;">
            <sidebar></sidebar>
        </div>
        <div class="col-8">
            <span>Susana</span><img class="sayTattoo" src="../../../assets/images/Logos_Horizontal-02.png">
            <div class="card" style="max-width: 50rem;">
                <img src="../../../assets/images/Say_Tatoo!-03.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Sobre Mi</h5>
                    <p class="card-text">5 años de experiencia en estudio e independiente</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Nombre</li>
                    <li class="list-group-item">Sexo</li>
                    <li class="list-group-item">Direccion</li>
                    <li class="list-group-item">Ciudad</li>
                    <li class="list-group-item">CP</li>
                    <li class="list-group-item">Teléfono</li>
                    <li class="list-group-item">Fecha Nacimiento</li>
                    <li class="list-group-item">Email</li>
                </ul>

            </div>
        </div>
    </div>