ul li{
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    color: #103e60;
}

.col-8{
    margin-top: 7em; 
}

.col-8 img{
    width: 30%;
}

.col-8 .card-body h5{
    font-size: 1.3em;
    font-weight: 700;
}

.col-8 ul img{
    margin-right:1em;
    width:15%;
}



.col-8 span{
font-style: italic;
}

.col-8.card-title h5{
    font-size: 1.3em;
    font-family: 'Karla', sans-serif;
}
.col-8.card-text p {
    font-size: 1.1;
    font-family: 'Karla', sans-serif;
}

@media(min-width: 768px){
    .col-8 ul img{
    margin-right:1em;
    width:10%;
}
    ul li{
        font-size: 1em;
        padding: 1em;
    }

    .col-8 span, .col-8.card-text p{
        font-size: 1.4em;
    }

    .card{
        margin-top: 2em;
    }


}


@media(min-width: 1200px){
    .col-8 .card-img-top{
        width: 18%;
    }
    
    .col-8 .card ul li img{
    width: 4%; 
    margin-right:2em;
    }

    .card{
        margin-top: 0;
    }

    h5{
        font-size: 1.7em;
    
    }

    .col-8 img.sayTattoo{
        width: 15%;
    }
}

















