/* 576px movíl 
    768px tab
    962px portatiles
    1200px* grandes ordenadores*/

    *{  /* reseteo de eric meyer */
        padding: 0;
        margin: 0;
        box-sizing: border-box;    
    }



footer {
    margin-top: 500px;
    background-color: lightblue;
    height: 100px;
    width: 100%;
    
}









@media (min-width: 768px) {





 }





 @media (min-width: 962px) { 







  }
