<div class="wrap">
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-#88DDEB">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img class="logo" src="../assets/images/Say_Tatoo!-03.png">
        </a>
        <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon "></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Busca a tu tatuador!!</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#" tabindex="-1">Regístrate</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#" tabindex="-1">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">Noticias</a>
            <li class="nav-item">
              <a class="nav-link active" href="#" tabindex="-1">Sobre Nosotros</a>
            </li>
            <li class="nav-item" class="account">
              <a class="nav-link active" href="#" tabindex="-1"><span>Mi cuenta</span></a>
            </li>


          </ul>

        </div>
      </div>
    </nav>
  </header>
  <main class="content">
    <slider></slider>
    <router-outlet></router-outlet>
  </main>
  <footer class="top">
    <div class="d-flex flex-column align-items-start">
      <div>©2021</div>
    </div>
    <div class="d-flex flex-column warnings">
      <div>Politica de privacidad</div>
      <div>Politica de cookie</div>
      <div>Aviso legal</div>
    </div>
  </footer>
</div>