<!-- /*
*Implementar o conectar con la base de datos
*/
'use strint'

const mongoose = require('mongoose');

mongoose.connect ('mongodb://localhost:4200/saytattoo', (err, res) => {
if(err) {
throw err;
} else {
console.log('La BBDD está corriendo correctamente');
}
}); -->



<div class="wrap">
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-#88DDEB">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img class="logo" src="../assets/images/Say_Tatoo!_Favicon-03.png">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon "></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" href="#" tabindex="-1">Busca a tu tatuador!</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">Noticias</a>
            <li class="nav-item">
              <a class="nav-link active" href="#" tabindex="-1">Sobre Nosotros</a>
            </li>
            <li class="nav-item ml-auto" class="account">
              <a class="nav-link active" [routerLink]="('/account/:id')" tabindex="-1">
                <i class="fas fa-user-circle"></i>

              </a>
            </li>
          </ul>
          <div class="content">
            <button class="login" [routerLink]="('/login')">Login</button>
            <button class="registrate" [routerLink]="('/register')">Regístrate</button>

          </div>
        </div>
      </div>
    </nav>
  </header>
  <main class="content">
    <router-outlet></router-outlet>
  </main>
  <footer class="top">
    <div class="warnings">
      <div class="copyright">©2021</div>
      <div><a [routerLink]="('/proteccionDatos')">Politica de privacidad</a></div>
      <div><a [routerLink]="('/avisoLegal')">Aviso Legal</a></div>
    </div>
  </footer>
</div>