<div class="container-fluid">
    <form action="">
        <div class="row">
            <div class="col-6">
                <input type="text" class="form-control" placeholder="Nombre">
            </div>
            <div class="col-6">
                <input type="text" class="form-control" placeholder="Apellidos">
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <input type="text" class="form-control" placeholder="Dirección">
            </div>
            <div class="col-4">
                <input type="text" class="form-control" placeholder="Ciudad">
            </div>
            <div class="col-2">
                <input type="text" class="form-control" placeholder="CP">
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <input type="text" class="form-control" placeholder="Teléfono">
            </div>
            <div class="col-6">
                <input type="text" class="form-control" placeholder="Fecha Nacimiento">
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <input type="text" class="form-control" placeholder="Nombre Usuario">
            </div>
            <div class="col-6">
                <input type="text" class="form-control" placeholder="Email">
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <input type="password" class="form-control" placeholder="Password">
            </div>
            <div class="col-6">
                <input type="password" class="form-control" placeholder="Repite Password">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <select class="form-control">
                    <option value="" selected>¿Eres tatuador?</option>
                    <option value="">Sí</option>
                    <option value="">No</option>
                </select>
            </div>
        </div>
        <div class="button">
            <button [disabled]=!formulario.valid>Enviar</button>
            <button [disabled]=!formulario.valid>Cancelar</button>
        </div>

    </form>
</div>