<div class="wrap">

    <div class="container">
        <div class="row">
            <div class="col 8">
                <form action="">
                    <div>
                        <label class="form-label">Nombre</label>
                        <input type="text" class="form-control">
                    </div>
                    <div>
                        <label class="form-label">Apellidos</label>
                        <input type="text" class="form-control">
                    </div>
                    <div>
                        <label class="form-label">Dirección</label>
                        <input type="text" class="form-control">
                    </div>
                    <div>
                        <label class="form-label">Ciudad</label>
                        <input type="text" class="form-control">
                    </div>
                    <div>
                        <label class="form-label">CP</label>
                        <input type="text" class="form-control">
                    </div>
                    <div>
                        <label class="form-label">Nombre</label>
                        <input type="text" class="form-control">
                    </div>
                    <div>
                        <label class="form-label">Teléfono</label>
                        <input type="text" class="form-control">
                    </div>
                    <div>
                        <label class="form-label">Fecha de Nacimiento</label>
                        <input type="text" class="form-control">
                    </div>
                    <div>
                        <label class="form-label">Nombre Usuario</label>
                        <input type="text" class="form-control">
                    </div>
                    <div>
                        <label class="form-label">Email</label>
                        <input type="text" class="form-control">
                    </div>
                    <div>
                        <label class="form-label">Password</label>
                        <input type="text" class="form-control">
                    </div>
                    <div>
                        <label class="form-label">Repite Password</label>
                        <input type="text" class="form-control">
                    </div>
                    <div>
                        <select name="" id="" class="form-control">
                            <option value="" selected>¿Eres tatuador?</option>
                            <option value="">Sí</option>
                            <option value="">No</option>
                        </select>
                    </div>
                    <div class="button">
                        <button class="btn btn-info">Enviar</button>
                        <button class="btn btn-info" float-right>Cancelar</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>