/* 576px movíl 
    768px tab
    962px portatiles
    1200px* grandes ordenadores*/


 .container-fluid {
    width: 93%;
    background-image: url(../../../assets/images/Say_Tattoo!_VERTICAL-50_Opacidad-04.png);
    background-size:50vh;
    background-repeat:no-repeat;
    background-position:center;
    background-attachment: fixed;
    height: 80vh;
}

h5{
    padding-top: 6em;
    margin-top: 1em;
    font-size: 1em;
    font-family: 'Karla', sans-serif;
}

form div input::placeholder{
    font-family: 'Karla', sans-serif;
    font-size: 1em;
    color: black;
}


form{
    margin: 1em 0;

}

input{
    background-color: transparent;
    margin-bottom: 1em;
    
    
}
.form-check-input {
    margin-right: 1em;
}

input:focus, select:focus {
  opacity: 1;
  box-shadow: 0 3px 4px rgba(0, 0, 0, .15);
}

select{ 
    background-color: transparent;
    font-family: 'Karla', sans-serif;
}

select option {
    font-size: 1.2em;
    background-color: transparent;
    font-family: 'Karla', sans-serif;
}

.privacy{
    font-family: 'Karla', sans-serif;
    font-size:small;
   
}


button{   
    margin: 2em 0;
    border-radius: 20px;
    background-color: #145A8D;
    color: #fff;
    padding: 0.5em 1em;
    font-family: 'Montserrat', sans-serif;
}

button:hover{
    background-color:#4682b4;
}


button:last-child{
    float: right;
    padding: 0.5em 1em;
    
}

.error{
    color: red;
}







@media (min-width: 768px){
.container-fluid {
    padding-top: 2em;
 
}
input, select, label{
    margin-bottom: 2em;
}

h5{
    padding-top:3em;
    margin-bottom: 2em;
    font-size: 1.7em;
}


.privacy{
   font-size: 1em;
   margin-top: -1em;

}

.privacy h5{
    font-size: 2em;
    margin-top: 2em;
    margin-bottom: 0;
}





}

@media (min-width: 962px){
    .container-fluid {
    width: 80%;
    background-size: 60vh;
 
  
}

input, select, label{
    margin-bottom: 4em;
}

.privacy h5{

    font-size: 2em;
}

.privacy input, .privacy label{
    margin-top:1em;
    font-size: 1.3em;
} 

button{ 

    font-size: 1.3em;
    margin-top:5em;
}



}


@media (min-width: 1200px){
    input, select, label{
    margin-bottom: 2em;
    }

 .container-fluid {
    width: 80%;
    background-size: 70vh;

    }

    form {
    margin-bottom:1em;

} 

}





