/* 576px movíl 
    768px tab
    962px portatiles
    1200px* grandes ordenadores*/


 .container-fluid {
    width: 93%;
    background-image: url(../../../assets/images/Say_Tattoo!_VERTICAL-50_Opacidad-04.png);
    background-size:50vh;
    background-repeat:no-repeat;
    background-position:center;
    background-attachment: fixed;
    height: 80vh;
}

h5{
    margin-top: 1em;
    font-size: 1em;
    font-family: 'Karla', sans-serif;
}


form div input::placeholder{
    font-family: 'Karla', sans-serif;
    font-size: 1em;
    color: black;
}


form{
    margin: 1em 0;

}

input{
    background-color: transparent;
    margin-bottom: 1em;
    
    
}

input:focus, select:focus {
  opacity: 1;
  box-shadow: 0 3px 4px rgba(0, 0, 0, .15);
}

select{ 
    background-color: transparent;
    font-family: 'Karla', sans-serif;
}

select option {
    font-size: 1.2em;
    background-color: transparent;
    font-family: 'Karla', sans-serif;
}

.privacidad, .privacidad h5{
    font-family: 'Karla', sans-serif;
    margin-top: 1em;
    font-size:small;
}

button{   
    margin-bottom: 4em;
    border-radius: 20px;
}

button:first-child {
 padding: 4px 20px;
 background-color: #4682b4
}


button:last-child{
    float: right;
    padding: 4px 10px;
    background-color: #f192ad;
}







@media (min-width: 768px){
.container-fluid {
    padding-top: 2em;
 
}
input, select, label{
    margin-bottom: 2em;
}

h5{
    margin-bottom: 2em;
    font-size: 1.7em;
}


.privacidad{
   font-size: 1em;
   margin-top: -1em;

}

.privacidad h5{
    font-size: 2em;
    margin-top: 2em;
    margin-bottom: 0;
}







}

@media (min-width: 962px){
    .container-fluid {
    width: 80%;
    background-size: 60vh;
 
  
}

input, select, label{
    margin-bottom: 4em;
}


button{ 
    margin-top:3em;
   

}


button:last-child:hover{
    background-color:#4682b4;
}

button:first-child:hover{
    background-color:#f192ad ;
}



}


@media (min-width: 1200px){
    input, select, label{
    margin-bottom: 1em;
}

 .container-fluid {
    width: 80%;
    background-size: 70vh;

   
    

}

}





