<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <sidebar></sidebar>
        </div>
        <div class="col-8">

            <div class="multiInput" style="max-width:50em;">
                <label for="formFileMultiple" class="form-label">Sube tu foto de perfil</label>
                <input class="form-control" type="file" id="formFileMultiple" multiple>
            </div>
            <hr>
            <div class="col-8" style="width: 100%;">
                <h6>Elije los estilos de tus tatuajes</h6>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="tradicional"><label
                        class="form-check-label">Tradicional</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="neo tradicional"><label
                        class="form-check-label">Neo Tradicional</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="realismo"><label
                        class="form-check-label">Realismo</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="lettering"><label
                        class="form-check-label">Lettering</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="tribal"><label
                        class="form-check-label">Tribal</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="puntillismo"><label class="form-check-label">
                        Puntillismo</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="geometrico"><label
                        class="form-check-label">Geometrico</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="animacion"><label
                        class="form-check-label">Animación</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="japones"><label class="form-check-label">
                        Japonés</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="b&w"><label
                        class="form-check-label">B&W</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="biomecanico"><label
                        class="form-check-label">Biomecánico</label>
                </div>
                <hr>
            </div>
            <div class="col-8">
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Escribe sobre ti" id="floatingTextarea2"></textarea>
                    <label for="floatingTextarea2">Escribe sobre ti</label>
                </div>
            </div>

            <div>
                <button class="btn btn-dark" type="submit">Enviar</button>
            </div>