<div class="contenedor">
    <header>
        <div class="profile-banner">
            <img src="../../../assets/images/portada behance_3200x353x3200.png" alt="">
        </div>
        <div class="logo">
            <img src="../../../assets/images/avatar_m.png" alt="">
            <h1>Nombre del Tatuador</h1>
        </div>
    </header>
</div>

<div class="container-perfile">
    <div class="row">
        <div class="col-md-8">ABOUT ME
            <h2>
                Hi, I'm John Doe a
                <br>
                Award winning
                <br>
                graphics Artist
            </h2>
        </div>
        <div class="col-md-4">
            <ul>
                <li>
                    <i class="far fa-envelope"></i>Mail
                </li>
                <li>
                    <i class="fas fa-mobile-alt"></i>Teléfono
                </li>
            </ul>
        </div>
    </div>
</div>

<section id="portfolio">
    <div class="container">

        <div class="portfolio-content">
            <div class="box">
                <a href="#">
                    <img src="../../../assets/images/PORTFOLIO/1-green.png" alt="">
                </a>
            </div>
            <div class="box">
                <a href="#">
                    <img src="../../../assets/images/PORTFOLIO/2-blue.png" alt="">
                </a>
            </div>
            <div class="box">
                <a href="#">
                    <img src="../../../assets/images/PORTFOLIO/3-green.png" alt="">
                </a>
            </div>
        </div>
        <div class="portfolio-content">
            <div class="box">
                <a href="#">
                    <img src="../../../assets/images/PORTFOLIO/4-purple.png" alt="">
                </a>
            </div>
            <div class="box">
                <a href="#">
                    <img src="../../../assets/images/PORTFOLIO/5-green.png" alt="">
                </a>
            </div>
            <div class="box">
                <a href="#">
                    <img src="../../../assets/images/PORTFOLIO/6-purple.png" alt="">
                </a>
            </div>
        </div>

    </div>

</section>

<!-- MASONRY
    <div class="masonry-with-columns" #masonry>
    <div style="order: 0;">
        <img class="grid-item" src="https://picsum.photos/230/600.jpg">
    </div>
    <div style="order: 1;">
        <img class="grid-item" src="https://picsum.photos/600/540.jpg">
    </div>
    <div style="order: 2;">
        <img class="grid-item" src="https://picsum.photos/480/900.jpg">
    </div>
    <div style="order: 0;">
        <img class="grid-item" src="https://picsum.photos/770/380.jpg">
    </div>
    <div style="order: 1;">
        <img class="grid-item" src="https://picsum.photos/.jpg">
    </div>
    <div style="order: 2;">
        <img class="grid-item" src="https://picsum.photos.jpg">
    </div>
</div> 
-->