<header>
    <div class="bloque parallax image-1">
    </div>

    <div class="ourteams">
        <h2>
            <br>
            ▼
        </h2>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-4">

            <div class="object1" style="width: 50%;">

                <!-- <img style="width: 50%;" src="../../../assets/images/intro-bg.jpg" alt=""> -->
            </div>
        </div>

    </div>
</div>


<!--/ Section Portfolio Star /-->
<section id="work" class="portfolio-mf sect-pt4 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center">
                    <h3 class="title-a">
                        Portfolio
                    </h3>
                    <p class="subtitle-a">

                    </p>
                    <div class="line-mf"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="work-box">
                    <a href="../../../assets/images/PORTFOLIO/work-1.jpeg" data-lightbox="gallery-mf">
                        <div class="work-img">
                            <img src="../../../assets/images/PORTFOLIO/work-1.jpeg" alt="" class="img-fluid">
                        </div>
                        <div class="work-content">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h2 class="w-title">Dulce Oasis</h2>
                                </div>
                                <div class="col-sm-4">
                                    <div class="w-like">
                                        <span class="iconify" data-icon="ion-ios-plus-outline"
                                            data-inline="false"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-box">
                    <a href="../../../assets/images/PORTFOLIO/work-2.jpeg" data-lightbox="gallery-mf">
                        <div class="work-img">
                            <img src="../../../assets/images/PORTFOLIO/work-2.jpeg" alt="" class="img-fluid">
                        </div>
                        <div class="work-content">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h2 class="w-title">amanece que no es poco</h2>
                                </div>
                                <div class="col-sm-4">
                                    <div class="w-like">
                                        <span class="iconify" data-icon="ion-ios-plus-outline"
                                            data-inline="false"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-box">
                    <a href="../../../assets/images/PORTFOLIO/work-3.jpeg" data-lightbox="gallery-mf">
                        <div class="work-img">
                            <img src="../../../assets/images/PORTFOLIO/work-3.jpeg" alt="" class="img-fluid">
                        </div>
                        <div class="work-content">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h2 class="w-title">Mavrito Lana Dere</h2>
                                </div>
                                <div class="col-sm-4">
                                    <div class="w-like">
                                        <span class="iconify" data-icon="ion-ios-plus-outline"
                                            data-inline="false"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-box">
                    <a href="../../../assets/images/PORTFOLIO/work-4.jpeg" data-lightbox="gallery-mf">
                        <div class="work-img">
                            <img src="../../../assets/images/PORTFOLIO/work-4.jpeg" alt="" class="img-fluid">
                        </div>
                        <div class="work-content">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h2 class="w-title">Bindo Laro Cado</h2>
                                </div>
                                <div class="col-sm-4">
                                    <div class="w-like">
                                        <span class="iconify" data-icon="ion-ios-plus-outline"
                                            data-inline="false"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-box">
                    <a href="../../../assets/images/PORTFOLIO/work-5.jpeg" data-lightbox="gallery-mf">
                        <div class="work-img">
                            <img src="../../../assets/images/PORTFOLIO/work-5.jpeg" alt="" class="img-fluid">
                        </div>
                        <div class="work-content">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h2 class="w-title">Studio Lena Mado</h2>
                                </div>
                                <div class="col-sm-4">
                                    <div class="w-like">
                                        <span class="iconify" data-icon="ion-ios-plus-outline" data-inline="false">
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-box">
                    <a href="../../../assets/images/PORTFOLIO/work-6.jpeg" data-lightbox="gallery-mf">
                        <div class="work-img">
                            <img src="../../../assets/images/PORTFOLIO/work-6.jpeg" alt="" class="img-fluid">
                        </div>
                        <div class="work-content">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h2 class="w-title">Studio Big Bang</h2>
                                </div>
                                <div class="col-sm-4">
                                    <div class="w-like">
                                        <span class="iconify" data-icon="ion-ios-plus-outline"
                                            data-inline="false"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>
<!--/ Section Portfolio End /-->