<div class="container-fluid">
    <div class="row">
        <div class="col-4" style="max-width:50rem">
            <sidebar></sidebar>
        </div>
        <div class="col-8" style="max-width:50rem">
            <h5>Modifica tus datos:</h5>
            <form>
                <div>
                    <label class="form-label">Nombre</label>
                    <input type="text" class="form-control">
                </div>
                <div>
                    <label class="form-label">Direccion</label>
                    <input type="text" class="form-control">

                </div>
                <div>
                    <label class="form-label">Ciudad</label>
                    <input type="text" class="form-control">

                </div>
                <div>
                    <label class="form-label">Teléfono</label>
                    <input type="text" class="form-control">

                </div>
                <div>
                    <label class="form-label">Email</label>
                    <input type="text" class="form-control">
                </div>
                <div>
                    <label class="form-label">Contraseña</label>
                    <input type="text" class="form-control">
                </div>
                <div>
                    <label class="form-label">Repite Contraseña</label>
                    <input type="text" class="form-control">

                </div>
                <div class="button">
                    <button type="submit">Modificar</button>
                    <button type="submit">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>