h5{
    margin-top: 1em;
}

.button{
    margin: 1em 0;
    font-family: 'Karla', sans-serif;
}

button{
    background-color: #145A8D;
    color: #fff;
    border-radius: 20px;

}

button:hover{
    background-color: #4682b4

}

button:last-child{
    float: right;
}

.col-8{
    height: 60vh;
}
label{
    font-family: 'Karla', sans-serif;
}

input{
    height: 2em;
}


@media(min-width: 768px){
    h5{
        margin: 2em 0;
    }

    button{
        margin-top: 3em;
    }
}