h5{
    padding-top: 7em;
    font-family: 'Karla', sans-serif;
    font-size: 1.2em;
    font-weight: 700;

}

button{
  
    margin-top: 2em;
    padding: 0.5em 1em;
    font-family: 'Karla', sans-serif;
    background-color: #145A8D;
    color: #fff;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
}



.col-8 form label{
    font-family: 'Karla', sans-serif;
    font-size: 1.2em;
    margin-top: 0.3em;
}

.col-8 form input{
    height: 1.7em;
}


@media(min-width: 768px){
    .container-fluid{
        height: 96vh;
    }
    h5{
        margin-bottom: 1em;
        font-size: 1.7em;
    }
    .col-8 form label{
        font-size: 1.5em;
        margin-top: 1em;
    }

    form .button button{
        margin-top: 3em;
    }

    form .button button:hover{
        background-color:#4682b4; 
    }

    .col-8 form input{
    height: 2.3em;
    }   
}

@media(min-width: 962px){
    .container-fluid{
        height: 97vh;
    }

    button{
        font-size: 1.3em;
        margin-top:5em;
    }
    .col-8 form input{
        height:3em;
        font-size: 1.5em;
    }


}

@media(min-width: 1200px){

    h5{
        padding-top:5em;
    }

    form .button button{
        margin-top:2em;
        
    }
    .col-8 form input{
        height:1.7em;
        font-size: 1.3em;
    }

    

}

    
